<mat-list-item>
  <mat-checkbox [checked]="task.completed" (change)="toggle()"></mat-checkbox>
  <div class="content">
    <div class="title-row">
      <span [class.completed]="task.completed">{{ task.title }}</span>
      <small class="meta">
        <span *ngIf="task.category">[{{task.category}}]</span>
        <span *ngIf="task.priority"> • P:{{task.priority}}</span>
      </small>
    </div>
    <div class="desc" *ngIf="task.description">{{ task.description }}</div>
  </div>

  <div class="spacer"></div>

  <button mat-icon-button matTooltip="Delete" (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-list-item>
<mat-divider></mat-divider>
